<div class="modal" id="modal">
    <div class="modal-content">
        <div class="row" align="right">
            <a class="close"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
        <div>
            <label for="name">Им'я </label>
            <input id="name" type="text" placeholder="Введіть им'я..." required ng-model="items.firstName">
            <div ng-if="items.firstName === ''"><span class="alert-danger">Заповніть будь ласка поле!</span></div>
        </div>
        <div>
            <label for="surname">Прізвище </label>
            <input id="surname" type="text" placeholder="Введіть прізвище..." required ng-model="items.lastName">
            <div ng-if="items.lastName === ''"><span class="alert-danger">Заповніть будь ласка поле!</span></div>
        </div>
        <div>
            <label for="email">Email </label>
            <input id="email" type="email" placeholder="Введіть email..." required ng-model="items.email">
            <div ng-repeat="user in users"><span ng-if="items.email === user.email" class="alert-danger">Така пошта вже існує</span></div>
            <div ng-if="items.email === ''"><span class="alert-danger">Заповніть будь ласка поле!</span></div>
        </div>
        <div>
            <label for="rolels"></label>
            <select name="roleles" id="rolels" ng-model="items.role">
                <option ng-repeat="role in roles" value="{{role.id}}">{{role.name}}</option>
            </select>
            <div ng-if="items.role === ''"><span class="alert-danger">Заповніть будь ласка поле!</span></div>
        </div>
        <div>
            <button ng-click="addUser()">Додати</button>
        </div>
    </div>
</div>
<div class="modal" id="updateUserModal">
    <div class="modal-content">
        <div class="row" align="right">
            <a class="close"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
        <div>
            <label>Им'я </label>
            <input type="text" placeholder="{{user.firstName}}" required ng-model="update.firstName">
        </div>
        <div>
            <label>Прізвище </label>
            <input type="text" placeholder="{{user.lastName}}" required ng-model="update.lastName">
        </div>
        <div>
            <label>Email </label>
            <input type="text" placeholder="{{user.email}}" required ng-model="update.email">
        </div>
        <div>
            <select ng-model="update.role">
                <option ng-repeat="role in roles" ng-value="role.id">{{role.name}}</option>
            </select>
        </div>
        <div>
            <button ng-click="setUpdateUser()">Додати</button>
        </div>
    </div>
</div>
<div class="user-addition">
    <div class="user-search">
        <input type="text" ng-model="searchText" placeholder="Пошук...">
    </div>
    <table class="user-table">
        <thead class="user-table-head">
        <tr>
            <th>
                <a ng-click="sortBy('firstName')">Ім'я</a>
            </th>
            <th>
                <a ng-click="sortBy('lastName')">Прізвище</a>
            </th>
            <th>
                <a ng-click="sortBy('email')">Пошта</a>
            </th>
            <th>
                <a ng-click="sortBy('role')">Посада</a>
            </th>
            <th>
                <a id="modalBtn"><span class="glyphicon glyphicon-plus"></span></a>
            </th>
        </tr>
        </thead>
        <tbody class="user-table-body">
        <tr ng-repeat="user in users | orderBy:propertyName:reverse | filter:searchText">
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role.name}}</td>
            <td>
                <a ng-click="updateUser(user.id)">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <span class="glyphicon glyphicon-option-vertical"></span>
                <a ng-show="user.role.name!='Адміністратор'" ng-click="remove(user.id)">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <a ng-show="user.role.name==='Адміністратор'">
                    <span>_</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>