<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>МАМС</title>
    <link rel="shortcut icon" href="/dist/img/logo.png" type="image/png">
</head>
<body>
<div ng-show="!isLoggedIn" class="back-fone">
    <div class="login">
        <div class="wrap">

            <!-- SLIDER -->
            <div class="content">
                <!-- LOGO -->
                <div class="logo">
                    <a href="#!/main"><img src="/dist/img/logo.png" alt=""></a>
                </div>
                <!-- SLIDESHOW -->
                <div id="slideshow">
                    <div class="one">
                        <h2><span>ЦИФРОВИЙ УНІВЕРСИТЕТ</span></h2>
                        <p>Вітаємо Вас в системі управління навчальним процом НаУКМА!</p>
                    </div>
                </div>
            </div>
            <!-- LOGIN FORM -->
            <div class="user">
                <div class="form-wrap">
                    <!-- TABS -->
                    <div class="tabs">
                        <h3 class="login-tab"><a class="log-in active" href="#!/main"><span>Автентифікація</span></a>
                        </h3>
                    </div>
                    <!-- TABS CONTENT -->
                    <div class="tabs-content">
                        <!-- TABS CONTENT LOGIN -->
                        <div id="login-tab-content" class="active">
                            <form class="login-form" action="" method="post">
                                <input type="text" class="input" placeholder="Емейл" required autofocus
                                       ng-model="item.email">
                                <input type="password" class="input" placeholder="Пароль" required
                                       ng-model="item.password">
                                <input type="checkbox" class="checkbox" checked id="remember_me">
                                <label for="remember_me">Запам'ятати мене</label>
                                <button ng-click="login()" class="button">Увійти</button>
                            </form>
                            <div class="help-action">
                                <p><i class="fa fa-arrow-left" aria-hidden="true"></i><a class="forgot" href="#">Забули
                                    пароль?</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-show="isLoggedIn" class="container-fluid">
    <div class="row">
        <div class="menu-bar">
            <div class="div4"><img class="img-logo" src="/dist/img/logo.png"></div>
            <div class="div2">
                <div class="div-1">
                    <input type="text">
                </div>
                <div class="div-2">
                    <a href="#"><span class="glyphicon glyphicon-search"></span></a>
                </div>
            </div>
            <div class="div3"><a href="#!/user/profile"><span class="glyphicon glyphicon-user"></span>
                {{user.firstName}} {{user.lastName}}</a></div>
            <div class="div1"><a href="#!/user/hello" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span>
                Вихід</a></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="nav-bar-menu">
                <div class="nav-services-bar">
                    <ul type="none">
                        <li>
                            <a href="#!/user/hello">
                                <div><span class="glyphicon glyphicon-home"></span> Привітання
                                </div>
                            </a>
                        </li>
                        <li ng-show="user.role.name ==='Адміністратор'">
                            <a href="#!/user/addition">
                                <div><span class="glyphicon glyphicon-user"></span> Менеджмент користувачів
                                </div>
                            </a>
                        </li>
                        <li ng-show="user.role.name ==='Секретар ПК'">
                            <a href="#!/user/entrants">
                                <div>
                                    <span class="glyphicon glyphicon-education"></span> Абітурієнти
                                </div>
                            </a>
                        </li>
                        <li ng-show="user.role.name ==='Методист НМР'">
                            <a href="#!/user/lecturers">
                                <div>
                                    <span class="glyphicon glyphicon-briefcase"></span> Викладачі
                                </div>
                            </a>
                        </li>
                        <li ng-show="user.role.name ==='Методист УНП' || user.role.name ==='Методист НМР'">
                            <a href="#!/user/edplanes">
                                <div>
                                    <span class="glyphicon glyphicon-book"></span> Навчальні плани
                                </div>
                            </a>
                        </li>
                        <li ng-show="user.role.name ==='Методист УНП'">
                            <a href="#!/user/discipline">
                                <div>
                                    <span class="glyphicon glyphicon-list-alt"></span> Робота зі студентами
                                </div>
                            </a>
                        </li>
                        <li ng-show="user.role.name ==='Викладач'">
                            <a href="#!/user/courses">
                                <div>
                                    <span class="glyphicon glyphicon-book"></span> Навчальні плани
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--<button class="btn-bot">-->
                    <!--<span class="glyphicon glyphicon-menu-left"></span>-->
                <!--</button>-->
            </div>
        </div>
        <div class="col-lg-9">
            <div class="main-template">
                <ng-view></ng-view>
            </div>
        </div>
    </div>
</div>
</body>
</html>