header {
  min-height: 100px;
  min-width: 100%;
  background-color: #6ccc6d;
  position: absolute;

  .container-fluid .row .col-md-6 {
    padding: 0;
  }

  img {
    margin-top: 5px;
  }

  .mg {

    margin: 0;

    input {
      //min-height: 40px;
      height: 35px;
      min-width: 100%;
      margin-top: 30px;
      border-radius: 5px 0 0 5px;
      border: 1px solid black;
      line-height: 35px;
      padding-left: 10px;
      transition: height 0.1s, margin-top 0.1s;

      &:focus {
        font-size: 25px;
        height: 40px;
        margin-top: 28px;
      }
    }

    .button {
      height: 35px;
      min-width: 100%;
      margin-top: 30px;
      font-size: 20px;
      border: 1px solid black;
      line-height: 35px;
      background-color: #fff;
      border-radius: 0 5px 5px 0;
      margin-left: -35px;
    }

  }

  .data {
    font-size: 20px;
    margin-top: 35px;
    text-align: center;
    transition: font-size 0.1s, margin-top 0.1s;
    transition-timing-function: ease-out;

    &:hover {
      font-size: 22px;
      margin-top: 34px;
    }
  }


  a {
    color: #f7f6f6;
  }

  a:hover {
    text-decoration: none;
    color: #ffffff;
  }
}