header {
  min-height: 100px;
  min-width: 100%;
  background-color: #6ccc6d;
  position: absolute;

  .container-fluid .row .col-md-6 {
    padding: 0;
  }

  img {
    margin: 12px 20px;
  }

  .mg {

    margin: 0;

    input {
      min-height: 40px;
      min-width: 100%;
      margin-top: 25px;
      border-radius: 5px 0 0 5px;
      border: 1px solid black;
      font-size: 25px;
      line-height: 40px;
      padding-left: 10px;
    }

    .button {
      min-height: 40px;
      min-width: 100%;
      margin-top: 25px;
      font-size: 20px;
      border: 1px solid black;
      line-height: 40px;
      background-color: #fff;
      border-radius: 0 5px 5px 0;
    }

  }
}