header {
  min-height: 100px;
  min-width: 100%;
  background-color: #6ccc6d;

  img {
    margin-top: 5px;
    margin-left: 55px;
  }

  .div-container {
    min-width: 100%;
    margin-top: 27px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid black;
    background: white;
    padding-top: 5px;
    padding-bottom: 5px;
  }
    /*animation-name: rotate;
    animation-duration: 1s;
  }

  @keyframes rotate {
    0% {
      transform: translateY(0)
    }

    100% {
      transform: translateY(-5px)
    }
  }*/

  input {
    min-width: 100%;
    height: 30px;
    border: none;
    line-height: 30px;
    outline: none;
    padding-left: 10px;
    margin-left: 10px;
    transition: background-color 1s;

    &:focus {
      background-color: rgba(0,0,0,0.1);
    }

  }

  .search-button {
    color: #dadada;

    span {
      padding-top: 7px;
      padding-bottom: 7px;
      font-size: 15px;
      transition: font-size 0.2s, color 0.5s, padding-top 0.5s, padding-bottom 0.5s, padding-right 0.5s;

      &:hover {
        font-size: 20px;
        color: black;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-right: 3px;
      }
    }

    &:hover {
      color: black;
    }
  }

  .data {
    font-size: 20px;
    margin-top: 35px;
    text-align: center;
    transition: font-size 0.1s, margin-top 0.1s;
    transition-timing-function: ease-out;

    &:hover {
      font-size: 22px;
      margin-top: 34px;
    }
  }

  a {
    color: #f7f6f6;
  }

  a:hover {
    text-decoration: none;
    color: #ffffff;
  }
}

section {
  background-color: #c2ebc2;
  width: 100%;
  height: 500px;
  text-align: center;
  padding-top: 30px;

  .services {
    width: 100%;
    padding: 10px 5px;
    border: 1px solid black;
    background: #43a144;
  }

  .views {;
    width: 100%;
    padding: 10px 5px;
    border: 1px solid black;
    background: #83de84;
    height: 400px;
  }

  .news-mark {
    width: 100%;
    padding-top: 10px;
    border: 1px solid black;
    background: #43a144;
    margin-top: 20px;

    ul {
      margin-left: -35px;
    }
  }

  .news-sub {
    width: 100%;
    padding-top: 10px;
    border: 1px solid black;
    background: #43a144;

    ul {
      margin-left: -35px;
    }
  }

  .news-teacher {
    width: 100%;
    padding: 10px 5px;
    border: 1px solid black;
    background: #43a144;
    margin-top: 20px;

    ul {
      margin-left: -35px;
    }
  }
}

footer {
  background: #ecca53;
  height: 100px;
  width: 100%;
}