<div class="row">
    <div class="col-lg-3">
        <label for="title"></label>
        <select id="title">
            <option value=""></option>
        </select>
    </div>
</div>
<div class="row courses">
    <table>
        <thead>
        <tr>
            <th>Назва</th>
            <th>Рівень кваліфікасії</th>
            <th>Факультет</th>
            <th>Спесіальність</th>
            <th>Семестр</th>
        </tr>
        </thead>

        <tbody ng-show="user.role.name === 'Методист УНП'">
        <tr ng-repeat="course in courses" ng-click="getGroups(course.id)">
            <td>{{course.title}}</td>
            <td>{{course.degree}}</td>
            <td>{{course.faculty}}</td>
            <td>{{course.speciality}}</td>
            <td>{{course.semester}}</td>
        </tr>
        </tbody>
        <tbody ng-show="user.role.name === 'Викладач'">
        <tr ng-repeat="course in teacher" ng-click="getGroups(course.id)">
            <td>{{course.title}}</td>
            <td>{{course.degree}}</td>
            <td>{{course.faculty}}</td>
            <td>{{course.speciality}}</td>
            <td>{{course.semester}}</td>
        </tr>
        </tbody>
    </table>
</div>
