<div class="teacher-courses">
    <div class="teacher-search">
        <input type="text" ng-model="searchText" placeholder="Пошук...">
    </div>
    <table class="teacher-table">
        <thead class="teacher-table-head">
        <tr>
            <th><a ng-click="sortBy('title')">Назва</a></th>
            <th class="degree"><a ng-click="sortBy('degree')">Рівень кваліфікації</a></th>
            <th><a ng-click="sortBy('faculty')">Факультет</a></th>
            <th><a ng-click="sortBy('speciality')">Спеціальність</a></th>
            <th><a ng-click="sortBy('semester')">Семестр</a></th>
        </tr>
        </thead>
        <tbody ng-show="user.role.name === 'Методист УНП'" class="teacher-table-body">
        <tr ng-repeat="course in courses | orderBy:propertyName:reverse | filter:searchText" ng-click="getGroups({id: course.id, name: course.title})">
            <td>{{course.title}}</td>
            <td>{{course.degree}}</td>
            <td>{{course.faculty}}</td>
            <td>{{course.speciality}}</td>
            <td>{{course.semester}}</td>
        </tr>
        </tbody>
        <tbody ng-show="user.role.name === 'Викладач'" class="teacher-table-body">
        <tr ng-repeat="course in teacher | orderBy:propertyName:reverse | filter:searchText" ng-click="getGroups({id: course.course.id, name: course.course.title})">
            <td>{{course.course.title}}</td>
            <td>{{course.course.degree}}</td>
            <td>{{course.course.faculty}}</td>
            <td>{{course.course.speciality}}</td>
            <td>{{course.course.semester | number:0}}</td>
        </tr>
        </tbody>
    </table>
    <div class="table-bottom"></div>
</div>


